./lesson_2/target
./lesson_2/.idea
./lesson_2/.vscode
./lesson_2/.github
./lesson_2/.devcontainer
./lesson_2/.gitignore
./lesson_2/.DS_Store

./lesson_3/target
./lesson_3/.idea
./lesson_3/.vscode
./lesson_3/.github
./lesson_3/.devcontainer
./lesson_3/.gitignore
./lesson_3/.DS_Store

./lesson_4/*//target
./lesson_4/*/.idea
./lesson_4/*/.vscode
./lesson_4/*/.github
./lesson_4/*/.devcontainer
./lesson_4/*/.gitignore
./lesson_4/*/.DS_Store
./lesson_4/frontend_read_storage/node_modules
#lesson_4/get_weather/target/


/lesson_5/target
/lesson_5/.idea
/lesson_5/.vscode
/lesson_5/.github
/lesson_5/.devcontainer
/lesson_5/.gitignore
/lesson_5/.DS_Store

lesson_5/erc721
lesson_5/erc20
lesson_5/markets
lesson_5/substrate-contracts-node
lesson_5/myErc20Token/target
lesson_5/trait_erc20/target

lesson_6_ori/target
lesson_6_ori

lesson_6/target
lesson_6/.idea
lesson_6/.vscode
lesson_6/.DS_Store

